.card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.media {
    width: 100px;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-text {
    flex: 1 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 1rem;
}