.split-view {
    outline: none;
}
.split-view__large{
    outline: none;
}

.split-view__small {
    /*width: 40%;*/
    /*top: 50%;*/
    position: absolute;
    padding-left: 950px;
    z-index: 2;
    transform: translateY(-50%);
}

.count {
   z-index: 1000;
}
