.split-view {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
}

.split-view .product-card{
    display: flex;
   justify-content: initial;
}
.split-view__large{
    flex-grow: 1;
    position: relative;
}

.split-view__small {
    display: flex;
    position: absolute;
    left:1000px;
    z-index: 2;
    text-align: center;

}

.count {
   z-index: 1000;
}

.CheckCompatibilityMessage {
    z-index: 1; /* Устанавливаем z-index, чтобы он был выше, чем компоненты с нулевым z-index */
}