.message {
    display: flex;
    margin-left: auto;
    gap: 20%;
    align-items: center;
}

.error-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    width: 50%;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-weight: bold;

}